
body{
  background-color: lightskyblue;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

p {
  font-family: "Lucida Console", "Courier New", monospace;
}

.header {
  background-color: whitesmoke;
  text-align: center;
  padding: 25px;
  color: lightskyblue;
}

footer {
  background-color: whitesmoke;
  padding: 12px;
  text-align: center;
  color: lightskyblue;
  position: absolute;
  width: 100%;
  left: 1;
  bottom: 0;
}


