
body {background-image:url("/afbeeldingen/istockphoto-1148508460-170667a (1).jpg");}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

p {
  font-family: "Lucida Console", "Courier New", monospace;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 25px;
}

footer {
  background-color:lightskyblue;
  padding: 12px;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  left: 1;
  bottom: 0;
}


